<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change password</title>
  <link rel="stylesheet" href="/css/change-name.css">
  <link rel="stylesheet" href="/css/service-home-sidebar.css">
  <link rel="stylesheet" href="/css/messages.css">
</head>
<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

  <form th:object="${changePasswordDTO}" th:action="@{/profile/change-password}" th:method="post" class="password-form" style="text-align: center;">
    <h1 class="header">Change password:</h1>
    <h2 class="header">Old password:</h2>
    <div class="input-div" style="margin-top: 10px;">
      <img class="user-image" src="/images/old-password.png">
    <input th:errorclass="bg-danger" th:field="*{oldPassword}" class="password-input" type="text" placeholder="Enter your old password here">
  </div>
    <p th:if="${result}" class="backend-message">Incorrect password.</p>
    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="backend-message"></p>
  <p class="old-password-message"></p>
    <h2 class="header" style="margin-top: 50px;">New password:</h2>
    <div class="input-div" style="margin-top: 10px;">
      <img class="user-image" src="/images/password.svg">
    <input th:errorclass="bg-danger" th:field="*{newPassword}" class="password-bar" type="text" placeholder="Enter your new password here">
    <img class="show-password" src="/images/eye-off.svg">
  </div>
    <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="backend-message"></p>
  <p class="new-password-message"></p>
  <button type="submit" class="submit-button">
    Change
  </button>
  </form>

 <script src="/js/eye-animation.js"></script>
 <script src="/js/front-validations/change-password.js"></script>
<script th:replace="~{fragments/commons::script}"></script>
</body>
</html>